.card-style {
    width: 22rem;
    padding: 10px;
    border-radius: 20px;
}

@media screen and (max-width: 350px) {
    .card-style {
        width: 18rem;
        padding: 10px;
        border-radius: 20px;
    }
}